﻿<div>

    <div class="alert alert-danger" role="alert" v-if="errors.length > 0" v-html="errors">
    </div>

    <div class="form-group">
        <label>Дата</label>
        <input class="form-control" type="text" v-bind:value="moment(orderDate)" disabled />
    </div>

    <div class="form-group">
        <label>Покупатель</label>
        <select class="form-control" v-model="customerId">
            <option v-for="customer in customers" v-bind:value="customer.id">
                {{ customer.name }}
            </option>
        </select>
    </div>

    <div class="form-group">
        <label>Статус</label>
        <select class="form-control" v-model="statusId">
            <option v-for="status in statuses" v-bind:value="status.id">
                {{ status.name }}
            </option>
        </select>
    </div>

    <div class="form-group">
        <label>Комментарии</label>
        <textarea class="form-control" v-model="comment"></textarea>
    </div>

        <div class="form-group">

            <table class="table table-striped">
                <tr><td>Название</td><td>Цена</td><td>Количество</td><td>Действие</td></tr>
                <tr v-for="(salesOrderDatail, index) in salesOrdersDetails">
                    <td>{{salesOrderDatail.product.name}}</td>
                    <td>{{salesOrderDatail.product.listPrice}}</td>
                    <td>{{salesOrderDatail.orderQty}}</td>
                    <td>
                        <button class="btn btn-xs btn-link" v-on:click="editOrderDetail(index)">Редактировать</button> |
                        <button class="btn btn-xs btn-link" v-on:click="removeOrderDetail(index)">Удалить</button>
                    </td>
                </tr>
            </table>

        </div>

        <div class="form-group">
            <button class="btn btn-default" v-on:click="addNewSalesOrderDetail">Добавить</button>
        </div>
        <div class="pull-right">
            <img src="/images/ajax-loader.gif" v-if="saving" />
            <button class="btn btn-primary" v-on:click="save" v-else="saving">Сохранить</button>
        </div>


    </div>
