﻿@model Market.ViewModels.SalesOrderViewModel
@using Market.ViewModels


<h2>Заказ</h2>

<div id="app">

@await Html.PartialAsync("~/Views/SalesOrder/_Form.cshtml")

<div class="modal-mask" v-if="showModal">
    <div class="modal-wrapper" >
        <div class="modal-container">

            <div class="modal-header">
                <div v-if="orderDetailsToEdit.isNew">Создать</div>
                <div v-else>Редактировать</div>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label>Выбор продукта</label>
                    <select class="form-control" v-model="orderDetailsToEdit.productId">
                        <option v-for="product in products" v-bind:value="product.id">
                            {{ product.name }} ({{product.listPrice}} руб.)
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Количество</label>
                    <input type="text" class="form-control" v-model="orderDetailsToEdit.orderQty" />
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" v-on:click="closeModal" >Отмена</button>
                <button class="btn btn-default" v-on:click="okModal" :disabled="orderDetailsToEdit.productId == 0 || isNaN(parseInt(orderDetailsToEdit.orderQty)) || parseInt(orderDetailsToEdit.orderQty) <= 0">OK</button>
            </div>

        </div>
    </div>
</div>
</div>

<script>

    let data = @Html.Raw(Json.Serialize(Model));

    data.showModal = false;
    data.orderDetailsToEdit = @Html.Raw(Json.Serialize(new SalesOrderDetailViewModel()));
    data.orderDetailsToEdit.isNew = false;
    data.saving = false;
    data.errors = [];

    var vm = new Vue({
        el: '#app',
        data: data,
        methods: {
            addNewSalesOrderDetail: function (e) {
                this.orderDetailsToEdit = @Html.Raw(Json.Serialize(new SalesOrderDetailViewModel()));
                this.orderDetailsToEdit.isNew = true;
                this.showModal = true;
                
            },

            okModal: function (e) {
                this.showModal = false;

                this.orderDetailsToEdit.product = this.products.find(x => x.id == this.orderDetailsToEdit.productId);
                if (this.orderDetailsToEdit.isNew)
                    this.salesOrdersDetails.push(this.orderDetailsToEdit);
                else
                    this.salesOrdersDetails[this.orderDetailsToEdit.index] = this.orderDetailsToEdit;
            },

            closeModal: function (e) {
                this.showModal = false;
            },

            removeOrderDetail: function (i) {
                this.salesOrdersDetails.splice(i, 1);
            },

            moment: function (date) {
                return moment(date).format('DD-MM-YYYY LTS');
            },

            save: function () {
                this.errors = [];
                this.saving = true;
                this.$http.post('/salesorder/create', this.$data).then(
                    (response) => { 
                        this.saving = false;
                        Object.assign(this.$data,
                            response.body);
                    },
                    (response) =>
                    {
                        this.saving = false;
                        data.errors = response.body.join('<br>');
                    }
                );
            },

            editOrderDetail: function (i) {
                this.orderDetailsToEdit = JSON.parse(JSON.stringify(this.salesOrdersDetails[i]));
                this.orderDetailsToEdit.index = i;
                this.orderDetailsToEdit.isNew = false;
                this.showModal = true;
            }



        },


    });


</script>
