﻿@model SalesOrderListViewModel

@using Market.ViewModels
@{
    ViewData["Title"] = "Index";
}

<h2>Список ордеров <a style="text-decoration: none;" href="/salesorder/create">+</a> </h2>
<div id="form">
    <sales-order-form></sales-order-form>
</div>

<div id="app">

    <table class="table table-striped">

        <tr>
            <td>Клиент</td>
            <td>Статус</td>
            <td>Дата</td>
            <td>Комментарий</td>
            <td>Действие</td>
        </tr>

        <tr v-for="salesOrder in salesOrders">
            <td>{{salesOrder.customer.name}}</td>
            <td>{{salesOrder.status.name}}</td>
            <td>{{ moment(salesOrder.orderDate) }}</td>
            <td v-bind:title="salesOrder.comment">{{salesOrder.comment != null && salesOrder.comment.length > 40 ? salesOrder.comment.slice(0,40) + "..." : salesOrder.comment }}</td>
            <td>
                <a v-bind:href="'/salesorder/edit/' + salesOrder.id">Ред.</a> |
                <a v-bind:href="'/salesorder/show/' + salesOrder.id">Просмотр.</a>
            </td>
        </tr>

    </table>
    <div class="form-inline">
        <button v-on:click="previosPage" class="btn btn-link"><<</button>
        <select v-model="curPage" v-on:change="getPage(curPage)">
            <option v-for="page in pages" v-bind:value="page">
                {{ 1 + page }}
            </option>
        </select>
        <button class="btn btn-link" v-on:click="nextPage">>></button>
    </div>

</div>

<script>

    let data = @Html.Raw(Json.Serialize(Model));
    data.curPage = 0;
    data.pages = [];

    var vm = new Vue({
        el: '#app',
        data: function () { return data },
        created: function () {
            for (let i = 0; i < Math.floor(this.count / 10) + 1; ++i)
                this.pages.push(i);
        },

        methods: {

            moment: function (date) {
                return moment(date).format('DD-MM-YYYY LTS');
            },

            previosPage: function () {
                if (this.curPage <= 0)
                    return;

                this.curPage--;
                this.getPage(this.curPage);
            },

            nextPage: function () {
                if (this.salesOrders == null || this.salesOrders.length == 0 || this.pages.indexOf(parseInt(this.curPage + 1)) < 0)
                    return;

                this.curPage++;
                this.getPage(this.curPage);
            },

            getPage(i) {
                this.curPage = i;

                this.$http.get('/salesorder/page/'+i).then(
                    (response) => {
                        this.salesOrders = response.body.salesOrders;
                        this.count = response.body.count;
                        
                    },
                    (response) => {

                    }
                );

            },


        },


    });


</script>
