﻿@model SalesOrderViewModel
@using Market.ViewModels;

@{
    var cutomer = Model.Customers.FirstOrDefault(x => x.Id == Model.CustomerId);
    var status = Model.Statuses.FirstOrDefault(x => x.Id == Model.StatusId);
}

<h2>Просмотр</h2>

<p>Покупктель: @cutomer.Name </p>
<p>Статус: @status.Name</p>
<p>Комментарий: @Model.Comment</p>

<table class="table table-striped">
    <tr><td>Название</td><td>Цена</td><td>Количество</td>
@foreach(var salesOrderDetail in Model.SalesOrdersDetails)
{
    <tr><td>@salesOrderDetail.Product.Name</td><td>@salesOrderDetail.Product.ListPrice</td><td>@salesOrderDetail.OrderQty</td></tr>
}
</table>









