﻿<!-- template for the modal component -->
<script type="text/x-template" id="modal-template">
    <transition name="modal" v-if="visible">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header">
                        <slot name="header">
                            default header
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            default body
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            default footer
                            <button class="modal-default-button" v-on:click="$emit('close')">
                                OK
                            </button>
                        </slot>
                    </div>

                </div>
            </div>
        </div>
    </transition>
</script>